<div class="row">
  <table class="table table-striped  table-striped">
    <tr>
      <th>Numero </th>
      <th>Costo Alquiler Por Mes</th>
      <th>Superficie</th>
      <th>Propietario</th>
      <th>Habilitado</th>
      <th>Detalle</th>
      <th>Habilitado</th>
    </tr>
    <tr *ngFor="let vlocal of locales">
      <td>{{vlocal.numero}}</td>
      <td>{{vlocal.costoAlquilerMes}}</td>
      <td>{{vlocal.superficie}}</td>
      <td>{{vlocal.propietario.apellido}}</td>
      <td>{{vlocal.habilitado}}</td>
      <td>
        <button type="submit" class="btn btn-info"*ngIf="vlocal.propietario.moroso==true " data-toggle="modal" data-target="#exampleModal" 
          (click)="mostrarDetalleLocal(vlocal)"[disabled]="habiliarLocal">
          Detalle
        </button>
        <button type="submit" class="btn btn-info"*ngIf="vlocal.propietario.moroso==false" data-toggle="modal" data-target="#exampleModal" 
          (click)="mostrarDetalleLocal(vlocal)">
          Detalle
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-info" (click)="inhabilitarLocal(vlocal)">Inhabilitar</button>
      </td>
    </tr>
  </table>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informacion del Local</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="ocultar">
        <div class="modal-body">
          <div class="form-group">
            <label for="txtNumero" id="modalNumero"> Numero : {{localDetalle.numero}} </label>
          </div>
          <div class="form-group">
            <label for="txtalquiler" id="modalAlquiler"> Costo alquiler Mes : {{localDetalle.costoAlquilerMes}} </label>
          </div>
          <div class="form-group">
            <label for="txtsuperficie" id="modalSuperficie"> Superfice: {{localDetalle.superficie}} </label>
          </div>
          <div class="form-group">
            <label for="txtnombre" id="modalPropietarioNombre"> Nombre Propietario: {{nombre}} </label>
          </div>
          <div class="form-group">
            <label for="txtapellido" id="modalPropietarioApellido"> Apellido Propietario: {{apellido}} </label>
          </div>
          <div class="form-group">
            <label for="txttelefono" id="modalPropietarioTelefono"> Telefono: {{telefono}} </label>
          </div>


        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-info" (click)="ocultarDetalle()">{{txtboton}}</button>

      </div>
    </div>
  </div>
</div>