<div>
    <ul class="nav nav-tabs bg-light">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['punto1']">Punto1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['punto2']">Punto2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['punto3']">Punto3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['punto4']">Punto4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['punto5']">Punto5</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['galeria']">Galeria</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['escuela']">Escuela</a>
        </li>
        
    </ul>

</div>